<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.xxxy.hbms.system.mapper.CardMapper">
  <resultMap id="BaseResultMap" type="com.xzit.xxxy.hbms.system.domain.Card">
    <id column="card_id" jdbcType="INTEGER" property="cardId" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="orders" jdbcType="VARCHAR" property="orders" />
  </resultMap>
  <sql id="Base_Column_List">
    card_id, card_name, orders
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hbms_card
    where card_id = #{cardId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hbms_card
    where card_id = #{cardId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xzit.xxxy.hbms.system.domain.Card">
    insert into hbms_card (card_id, card_name, orders
      )
    values (#{cardId,jdbcType=INTEGER}, #{cardName,jdbcType=VARCHAR}, #{orders,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xzit.xxxy.hbms.system.domain.Card">
    insert into hbms_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        card_id,
      </if>
      <if test="cardName != null">
        card_name,
      </if>
      <if test="orders != null">
        orders,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        #{cardId,jdbcType=INTEGER},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzit.xxxy.hbms.system.domain.Card">
    update hbms_card
    <set>
      <if test="cardName != null">
        card_name = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        orders = #{orders,jdbcType=VARCHAR},
      </if>
    </set>
    where card_id = #{cardId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzit.xxxy.hbms.system.domain.Card">
    update hbms_card
    set card_name = #{cardName,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=VARCHAR}
    where card_id = #{cardId,jdbcType=INTEGER}
  </update>
</mapper>